/NavigationSplitViewRestorationBug.xcodeproj/xcuserdata/pd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/NavigationSplitViewRestorationBug.xcodeproj/project.xcworkspace/xcuserdata/pd.xcuserdatad/UserInterfaceState.xcuserstate
